<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/splash.css">
  <title>Traffic Light Simulation</title>
  <style>




  </style>
</head>
<body>
    <!-- Splash screen -->
    <div id="loading-splash" class="loading-splash">
        <div class="loading-message">
            <p>Training Traffic_Light AI . . .</p>
        </div>
    </div>

    <div class="container">
        <div class="canvas-wrapper">
            <canvas id="gameCanvas" width="800" height="800"></canvas>
        </div>
        
        <div class="controls">
            <h3>Traffic Controls</h3>
            <button onclick="changeLight()">Change Light</button>
            <button onclick="addCar()">Add Random Car</button>

            <h3>About this Neural Network</h3>
            <p>
                This neural network is designed to optimize traffic light control at an intersection. By analyzing data such as the number of cars waiting at red and green lights, and the time since the last light change, the model predicts the best traffic light state to improve traffic flow. The goal is to reduce congestion, minimize wait times, and enhance overall traffic efficiency.
                The model was trained using historical traffic data, and its predictions are made in real-time as new data is provided by sensors at the intersection.
            </p>
        </div>
    </div>

    <script src="/static/js/trafficController.js"></script>
    <script src="/static/js/splash.js"></script>
</body>
</html>
